@font-face {
  font-family:'Source Sans Pro';font-style:normal;font-weight:300;src:local("Source Sans Pro Light"),local("SourceSansPro-Light"),url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGMVNtom4QlEDNJaqqqzqdSs.woff) format("woff");
}

@font-face {
  font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local("Source Sans Pro"),local("SourceSansPro-Regular"),url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format("woff");
}

@font-face {
  font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:local("Source Sans Pro Semibold"),local("SourceSansPro-Semibold"),url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff) format("woff");
}

@media screen and (min-width: 999px) {
  #tagline h2 {
    font-size: 3.625em;
  }

  #tagline h3 {
    font-size: 2.25em;
  }
}

.srcSans,.srcSans-light,.title,#tagline h3,#values h4,#objectives li h3,.srcSans-bold,#tagline h2,#mainMenu,#investors h4 span {
  font-weight: 400;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.srcSans-light,.title,#tagline h3,#values h4,#objectives li h3 {
  font-weight: 300;
}

.srcSans-bold,#tagline h2 {
  font-weight: 600;
}

.hidetext,.brand,.brand-mango,.brand-kima,.icon,#signup form .loading span {
  display: block;
  font-size: 0;
  text-indent: -9999em;
}

.boxsizing,#signup .dropdown,#signup .fieldline input,#signup .submit .btn {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.inline-block,#mainMenu li,#solutions li,#team .avatar ul li,#investors li,#investors li .avatar,#investors li .role {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
}

#team .avatar span {
  background-image: url('../images/regular/sprites/team.jpg');
}

.clearfix:before,#menu ul:before,#intro:before,#values ul:before,#objectives ul:before,#solutions ul:before,#team ul:before,#investors ul:before,.clearfix:after,#menu ul:after,#intro:after,#values ul:after,#objectives ul:after,#solutions ul:after,#team ul:after,#investors ul:after {
  content: "";
  display: table;
}

.clearfix:after,#menu ul:after,#intro:after,#values ul:after,#objectives ul:after,#solutions ul:after,#team ul:after,#investors ul:after {
  clear: both;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,b,u,i,center,input,textarea,button,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

body {
  font: 100%/130% Helvetica, Arial, sans-serif;
  color: #333;
  background: #EEE;
  -webkit-font-smoothing: antialiased;
}

.section,.wrap {
  margin: 0 auto;
}

.section {
  background: #fff;
  max-width: 1600px;
  clear: both;
}

.wrap {
  width: 75%;
}

.avatar span {
  display: block;
  margin: 0 auto;
}

.title {
  color: #000;
  padding: 100px 0;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-size: 2.625em;
}

.title strong {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.brand,.brand-mango,.brand-kima {
  background: url('../images/regular/sprites/brands.gif');
}

.brand-mango {
  width: 128px;
  height: 40px;
}

.brand-kima {
  width: 158px;
  height: 50px;
  margin: 0 auto;
  background-position: 0 -40px;
}

.btn {
  color: #000;
  display: inline-block;
  padding: 16px 35px 14px;
  font-weight: bold;
  text-decoration: none;
  background: none;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #000;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn:active,.btn:focus {
  outline: 0;
}

.dropdown {
  width: 150px;
  height: 30px;
  position: relative;
}

.dropdown a {
  display: block;
  color: #333;
  padding: 8px 20px;
  opacity: 0.5;
}

.dropdown a:hover {
  opacity: 1;
  background-color: #FAFAFA;
}

.dropdown ul {
  font-size: 0.813em;
  font-weight: bold;
  background: #FFF;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #DDD;
  width: 100%;
  max-height: 220px;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.dropdown li {
  display: none;
  border-bottom: 1px solid #EEE;
}

.dropdown li:first-child {
  display: block;
  background: url('../images/regular/sprites/icons.png') no-repeat 100% -148px;
}

.dropdown li:first-child a {
  opacity: 1;
  background-color: transparent;
}

.dropdown li:first-child a:hover {
  background-color: transparent;
}

.dropdown:hover {
  border-color: #CCC;
}

.open,.open:hover {
  z-index: 2;
  border-color: #bfbfbf;
  -moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.05);
  -o-box-shadow: 0 0 1px 1px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.05);
}

.open li:first-child a {
  color: #000;
}

.country a {
  padding-left: 50px;
  background: url('../images/regular/sprites/flags.png') no-repeat 15px 0;
}

.country-ar a {
  background-position: 15px -0px;
}

.country-bo a {
  background-position: 15px -30px;
}

.country-br a {
  background-position: 15px -60px;
}

.country-ch a {
  background-position: 15px -90px;
}

.country-co a {
  background-position: 15px -120px;
}

.country-ec a {
  background-position: 15px -150px;
}

.country-es a {
  background-position: 15px -180px;
}

.country-gu a {
  background-position: 15px -210px;
}

.country-ho a {
  background-position: 15px -240px;
}

.country-mx a {
  background-position: 15px -270px;
}

.country-ni a {
  background-position: 15px -300px;
}

.country-pn a {
  background-position: 15px -330px;
}

.country-pa a {
  background-position: 15px -360px;
}

.country-pr a {
  background-position: 15px -390px;
}

.country-ur a {
  background-position: 15px -420px;
}

.country-vn a {
  background-position: 15px -450px;
}

.country-us a {
  background-position: 15px -480px;
}

.icon {
  background: url('../images/regular/sprites/icons.png');
}

.icon-tools {
  background-position: -0px -42px;
}

.icon-services {
  background-position: -0px -84px;
}

.icon-tw {
  background-position: -0px -126px;
}

.icon-ln {
  background-position: -24px -126px;
}

.icon-smiley {
  background-position: -44px -0px;
}

.icon-saddy {
  background-position: -44px -60px;
}

.icon-api,.icon-tools,.icon-services {
  width: 44px;
  height: 42px;
}

#header {
  padding: 50px 0 80px;
}

#header .wrap {
  position: relative;
}

#logo,#lang {
  position: absolute;
  top: 0;
  z-index: 1;
}

#mainMenu {
  text-align: center;
  padding: 10px 0 30px;
  border-bottom: 1px solid #EEE;
}

#mainMenu strong {
  display: none;
}

#mainMenu li {
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin: 0 25px;
}

#mainMenu a {
  color: #999;
}

#mainMenu a:hover {
  color: #666;
  text-decoration: underline;
}

#lang {
  right: 0;
}

#intro {
  padding-bottom: 60px;
  position: relative;
}

#intro .wrap {
  position: relative;
  z-index: 2;
}

#tagline {
  text-align: center;
  padding: 0 15%;
}

#tagline h2 {
  color: #000;
  font-size: 3.25em;
  letter-spacing: -0.03em;
  line-height: 100%;
}

#tagline h3 {
  line-height: 120%;
  font-size: 2.15em;
  padding: 40px 0% 100px;
}

#tagline h3 strong {
  font-weight: 300;
  color: #47a854;
}

#features {
  float: right;
  width: 25%;
}

#features li {
  padding-bottom: 40px;
  position: relative;
}

#features li h4 {
  font-size: 1.125em;
  font-weight: bold;
}

#features li p {
  line-height: 150%;
  padding-top: 15px;
  color: #666;
}

#features li .iconHolder {
  position: absolute;
  left: -120px;
  top: 0;
  z-index: 1;
  width: 80px;
  height: 80px;
  -moz-border-radius: 80px;
  -o-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  border: 2px solid #DDD;
}

#features li .icon {
  margin: 18px auto 0;
}

#introVideo {
  width: 60%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

#introVideo img {
  width: 100%;
  height: auto;
}

#introVideo #video:focus {
  outline: 0;
}

#values {
  background: #000;
}

#values .title {
  text-align: center;
  color: #fff;
  font-size: 2.25em;
  padding: 35px 0 45px;
  background: #000;
}

#values li {
  float: left;
  width: 25%;
  height: 400px;
  background-color: #333;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#values #value-quality,#values #value-humanity {
  background-color: #404040;
}

#values h4 {
  color: #fff;
  font-size: 1.875em;
  padding: 30px 12%;
  margin-bottom: 20px;
  background: rgba(0,0,0,0.2);
}

#values p {
  font-size: 1.125em;
  line-height: 150%;
  color: rgba(255,255,255,0.6);
  padding: 0 12%;
}

#values #value-safety {
  background-image: url('../images/regular/values/safety.jpg');
}

#values #value-quality {
  background-image: url('../images/regular/values/quality.jpg');
}

#values #value-professionalism {
  background-image: url('../images/regular/values/professionalism.jpg');
}

#values #value-humanity {
  background-image: url('../images/regular/values/humanity.jpg');
}

#objectives {
  overflow: hidden;
  position: relative;
  height: 400px;
  background: url('../images/regular/objectives/path.jpg') no-repeat top right;
}

#objectives li {
  width: 75%;
}

#objectives li,#objectives li h3,#objectives li .figure {
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  position: absolute;
}

#objectives li h3,#objectives li .figure {
  width: 100%;
}

#objectives li h3 {
  font-size: 3.25em;
  color: #fff;
}

#objectives li h3 span {
  display: block;
  padding: 7% 25% 0 17.5%;
}

#objectives li h3 em,#objectives li h3 strong {
  display: block;
  opacity: 0;
  line-height: 105%;
}

#objectives li h3 em {
  font-style: normal;
}

#objectives li h3 strong {
  font-weight: 600;
  -moz-transition: opacity 1s 1.2s;
  -o-transition: opacity 1s 1.2s;
  -webkit-transition: opacity 1s 1.2s;
  transition: opacity 1s 1.2s;
}

#objectives li .figure {
  display: block;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#objectives #obj-company .figure {
  background: url('../images/regular/objectives/company.jpg');
  left: 0%;
}

#objectives #obj-experience .figure {
  background: url('../images/regular/objectives/experience.jpg');
  left: 100%;
}

#objectives #obj-expand .figure {
  background: url('../images/regular/objectives/expand.jpg');
  left: 200%;
}

#objectives #obj-problem .figure {
  background: url('../images/regular/objectives/problem.jpg');
  left: 300%;
}

#objectives .slider-pos-0 .figure {
  -moz-transform: translate(-0%, 0);
  -o-transform: translate(-0%, 0);
  -webkit-transform: translate(-0%, 0);
  transform: translate(-0%, 0);
}

#objectives .slider-pos-1 .figure {
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

#objectives .slider-pos-2 .figure {
  -moz-transform: translate(-200%, 0);
  -o-transform: translate(-200%, 0);
  -webkit-transform: translate(-200%, 0);
  transform: translate(-200%, 0);
}

#objectives .slider-pos-3 .figure {
  -moz-transform: translate(-300%, 0);
  -o-transform: translate(-300%, 0);
  -webkit-transform: translate(-300%, 0);
  transform: translate(-300%, 0);
}

#objectives .slider-pos-0 #obj-company h3,#objectives .slider-pos-1 #obj-experience h3,#objectives .slider-pos-2 #obj-expand h3,#objectives .slider-pos-3 #obj-problem h3 {
  z-index: 4;
  background: rgba(0,0,0,0.4);
}

#objectives .slider-pos-0 #obj-company h3 em,#objectives .slider-pos-0 #obj-company h3 strong,#objectives .slider-pos-1 #obj-experience h3 em,#objectives .slider-pos-1 #obj-experience h3 strong,#objectives .slider-pos-2 #obj-expand h3 em,#objectives .slider-pos-2 #obj-expand h3 strong,#objectives .slider-pos-3 #obj-problem h3 em,#objectives .slider-pos-3 #obj-problem h3 strong {
  opacity: 1;
}

#objectives .slider-pos-0 #obj-problem em,#objectives .slider-pos-0 #obj-problem strong {
  opacity: 0;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

#solutions,#solutions .title {
  padding-bottom: 20px;
}

#solutions li {
  vertical-align: top;
  width: 28%;
  padding-right: 5%;
  margin-top: 80px;
  background: #fff;
}

#solutions li h4 {
  color: #000;
  font-size: 1.125em;
  padding-bottom: 15px;
}

#solutions li p {
  line-height: 150%;
  color: #666;
}

#team .title {
  text-align: center;
  position: relative;
  z-index: 2;
}

#team li {
  float: left;
  width: 15%;
  margin: 0 5% 60px;
  text-align: center;
}

#team .avatar span {
  width: 180px;
  height: 180px;
  background-size: 1440px 180px;
}

#team #person-jl .avatar span {
  background-position: -0px 0;
}

#team #person-ao .avatar span {
  background-position: -180px 0;
}

#team #person-gp .avatar span {
  background-position: -360px 0;
}

#team #person-ir .avatar span {
  background-position: -540px 0;
}

#team #person-jr .avatar span {
  background-position: -720px 0;
}

#team #person-ps .avatar span {
  background-position: -900px 0;
}

#team #person-at .avatar span {
  background-position: -1080px 0;
}

#team #person-dz .avatar span {
  background-position: -1260px 0;
}

#team .avatar {
  position: relative;
}

#team .avatar span {
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

#team .avatar ul {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  -moz-transform: translate(0, 20%);
  -o-transform: translate(0, 20%);
  -webkit-transform: translate(0, 20%);
  transform: translate(0, 20%);
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

#team .avatar ul li {
  float: none;
  width: auto;
  margin: 0 5px;
}

#team .avatar ul a {
  display: block;
  -moz-border-radius: 36px;
  -o-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  width: 36px;
  height: 28px;
  line-height: 28px;
  padding-top: 8px;
}

#team .avatar ul a .icon {
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

#team .avatar ul .team-tw a {
  background: #55ACEE;
}

#team .avatar ul .team-ln a {
  background: #1C87BD;
}

#team .avatar:hover span {
  -moz-transform: rotateY(180deg) translateZ(1px);
  -o-transform: rotateY(180deg) translateZ(1px);
  -webkit-transform: rotateY(180deg) translateZ(1px);
  transform: rotateY(180deg) translateZ(1px);
  opacity: 0.25;
}

#team .avatar:hover ul {
  opacity: 1;
  bottom: 45%;
}

#team .role strong,#team .role span {
  display: block;
}

#team .role strong {
  padding: 25px 0 5px;
}

#team .role span {
  font-size: 0.875em;
  color: #666;
}

#team #person-jr {
  clear: left;
}

#team p {
  text-align: center;
  padding: 20px 0 80px;
}

#investors {
  padding: 0 0 80px;
}

#investors h4,#investors p {
  text-align: center;
}

#investors h4 {
  padding-bottom: 60px;
}

#investors h4 span {
  display: inline-block;
  padding: 0 20px 5px;
  font-size: 0.938em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #666;
  border-bottom: 1px solid #DDD;
}

#investors ul {
  padding: 60px 12% 0;
  text-align: center;
}

#investors li {
  width: 33%;
  margin-bottom: 30px;
}

#investors li .avatar {
  margin-right: 20px;
}

#investors li .avatar span {
  width: 50px;
  height: 50px;
  background-image: url('../images/regular/sprites/advisors.jpg');
}

#investors li .role {
  text-align: left;
}

#investors li .role strong,#investors li .role span {
  display: block;
}

#investors li .role span {
  font-size: 0.875em;
  color: #666;
}

#investors #advisor-ak .avatar span {
  background-position: -0px 0;
}

#investors #advisor-rk .avatar span {
  background-position: -50px 0;
}

#investors #advisor-gr .avatar span {
  background-position: -100px 0;
}

#investors #advisor-ef .avatar span {
  background-position: -150px 0;
}

#investors #advisor-wm .avatar span {
  background-position: -200px 0;
}

#investors #advisor-mr .avatar span {
  background-position: -250px 0;
}

#signup {
  text-align: center;
  padding: 60px 0 70px;
  background: #1a1a1a;
}

#signup .title {
  color: #fff;
  padding: 0 0 20px;
}

#signup #toggleSignUp {
  display: none;
}

#signup .btn {
  color: #fff;
  border-color: #fff;
}

#signup .btn:hover {
  color: #ffe162;
  border-color: #c8a200;
}

#signup .note {
  font-size: 0.875em;
  color: gray;
  padding: 20px 30px 5px;
  background: #222;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 40px;
}

#signup .note p {
  padding-bottom: 15px;
}

#signup form {
  text-align: left;
  position: relative;
  width: 380px;
  margin: 30px auto 0;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#signup form .loading {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#signup form .loading span {
  width: 80px;
  height: 80px;
  margin: 450px auto 0;
  -moz-border-radius: 80px;
  -o-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  background: #000 url('../images/regular/loading.gif') no-repeat center center;
}

#signup label {
  display: block;
  padding-bottom: 5px;
  font-size: 0.938em;
  color: #999;
  font-weight: bold;
}

#signup .dropdown {
  width: 99.5%;
}

#signup .dropdown ul {
  font-size: 0.875em;
  background: #EEE;
}

#signup .dropdown.open ul {
  background: #FFF;
}

#signup .fieldline {
  padding-bottom: 30px;
}

#signup .fieldline input {
  font-size: 0.875em;
  width: 100%;
  padding: 10px 20px;
  background: #EEE;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#signup .fieldline input:focus {
  background: #fff0af;
  outline: 0;
}

#signup .fieldline .parsley-error {
  -moz-box-shadow: #f66 0 0 0 2px inset;
  -o-box-shadow: #f66 0 0 0 2px inset;
  -webkit-box-shadow: #f66 0 0 0 2px inset;
  box-shadow: #f66 0 0 0 2px inset;
}

#signup .fieldline .parsley-errors-list {
  font-size: 0.875em;
  padding-top: 5px;
  color: #f66;
}

#signup .submit .btn {
  display: block;
  width: 100%;
}

#signup .msg {
  display: none;
  text-align: center;
  padding: 20px 30px;
  font-size: 0.875em;
  margin-bottom: 30px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#signup .msg .icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
}

#signup #send-ok {
  color: #47a854;
  background: #e2f3e4;
}

#signup #send-error {
  color: #900;
  background: #ffe5e5;
}

#signup .sending {
  opacity: 0.1;
  pointer-events: none;
}

#footer {
  background: #000;
  padding: 35px 0;
  font-size: 0.813em;
  text-align: center;
}

#footer p,#footer ul,#footer li {
  display: inline;
}

#footer,#footer a {
  color: #666;
}

#footer a {
  font-weight: bold;
}

#footer a:hover {
  color: #FFF;
}

#footer span {
  color: #333;
  padding: 0 15px;
}

@media screen and (min-width: 1025px) {
  #values .animation-able {
    opacity: 0;
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  #values .animate {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: pop;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: 1s;
    -moz-animation-name: pop;
    -moz-animation-fill-mode: forwards;
    -o-animation-delay: 0;
    -o-animation-duration: 1s;
    -o-animation-name: pop;
    -o-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: 1s;
    animation-name: pop;
    animation-fill-mode: forwards;
  }

  #solutions .animation-able {
    position: relative;
    opacity: 0;
    top: 150px;
  }

  #solutions .animate {
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: fadeup;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0.5s;
    -moz-animation-duration: 1s;
    -moz-animation-name: fadeup;
    -moz-animation-fill-mode: forwards;
    -o-animation-delay: 0.5s;
    -o-animation-duration: 1s;
    -o-animation-name: fadeup;
    -o-animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-name: fadeup;
    animation-fill-mode: forwards;
  }

  #team .animation-able {
    position: relative;
    opacity: 0;
    top-: 150px;
  }

  #team .animate {
    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: fadedown;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 1.5s;
    -moz-animation-duration: 1s;
    -moz-animation-name: fadedown;
    -moz-animation-fill-mode: forwards;
    -o-animation-delay: 1.5s;
    -o-animation-duration: 1s;
    -o-animation-name: fadedown;
    -o-animation-fill-mode: forwards;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-name: fadedown;
    animation-fill-mode: forwards;
  }
}

@-webkit-keyframes pop {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pop {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes pop {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes fadeup {
  0% {
    opacity: 0;
    top: 150px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@-moz-keyframes fadeup {
  0% {
    opacity: 0;
    top: 150px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@-ms-keyframes fadeup {
  0% {
    opacity: 0;
    top: 150px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    top: 150px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes fadedown {
  0% {
    opacity: 0;
    top: -150px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@-moz-keyframes fadedown {
  0% {
    opacity: 0;
    top: -150px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@-ms-keyframes fadedown {
  0% {
    opacity: 0;
    top: -150px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadedown {
  0% {
    opacity: 0;
    top: -150px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .country a {
    background-image: url('../images/retina/sprites/flags.png');
    background-size: 22px 506px;
  }

  #team .avatar span {
    background-image: url('../images/retina/sprites/team.jpg');
    background-size: 1440px 180px;
  }

  .dropdown li:first-child,.icon {
    background-image: url('../images/retina/sprites/icons.png');
    background-size: 104px 171px;
  }

  .brand,.brand-mango,.brand-kima {
    background-image: url('../images/retina/sprites/brands.gif');
    background-size: 158px 90px;
  }

  #investors li .avatar span {
    background-image: url('../images/retina/sprites/advisors.jpg');
    background-size: 300px 50px;
  }

  #signup form .loading span {
    background-image: url('../images/retina/loading.gif');
    background-size: 42px 42px;
  }
}

@media screen and (max-width: 1599px) {
  #tagline {
    padding: 0 10%;
  }

  #team .avatar span {
    width: 160px;
    height: 160px;
    background-size: 1280px 160px;
  }

  #team #person-jl .avatar span {
    background-position: -0px 0;
  }

  #team #person-ao .avatar span {
    background-position: -160px 0;
  }

  #team #person-gp .avatar span {
    background-position: -320px 0;
  }

  #team #person-ir .avatar span {
    background-position: -480px 0;
  }

  #team #person-jr .avatar span {
    background-position: -640px 0;
  }

  #team #person-ps .avatar span {
    background-position: -800px 0;
  }

  #team #person-at .avatar span {
    background-position: -960px 0;
  }

  #team #person-dz .avatar span {
    background-position: -1120px 0;
  }
}

@media screen and (max-width: 1299px) {
  .wrap {
    width: auto;
    margin: 0 7.5%;
  }

  #tagline h3 {
    padding-bottom: 100px;
  }

  #intro {
    padding-bottom: 60px;
  }

  #values p {
    font-size: 1em;
  }

  #objectives li h3 span {
    padding-left: 10%;
  }
}

@media screen and (max-width: 1099px) {
  #tagline {
    padding: 0;
  }

  #features {
    width: auto;
  }

  #features li {
    float: left;
    padding: 4%;
    background: rgba(255,255,255,0.6);
    width: 32%;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 10% 20px 0;
  }

  #features .iconHolder {
    display: none;
  }

  #introVideo {
    width: 100%;
  }

  #introVideo img {
    display: block;
  }

  #introVideo #video {
    display: none;
  }

  #objectives,#values li {
    height: 340px;
  }

  #values .title {
    padding: 25px 7.5%;
  }

  #values li {
    width: 50%;
  }

  #objectives li h3 {
    font-size: 2.5em;
  }

  #objectives li h3 span {
    padding-left: 7.5%;
  }
}

@media screen and (max-width: 999px) {
  #team li {
    width: 33%;
    margin: 0 0 60px;
  }

  #team li .role span {
    padding: 0 20px;
  }

  #team .avatar ul {
    opacity: 1;
    display: block;
    position: static;
    height: 36px;
    padding: 10px 0 5px;
  }

  #team .avatar:hover span {
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }

  #team #person-jr {
    clear: none;
  }

  #investors ul {
    padding: 60px 10% 0;
  }

  #investors li {
    width: 50%;
  }
}

@media screen and (max-width: 799px) {
  #mainMenu {
    padding-bottom: 15px;
  }

  #mainMenu li {
    width: 1px;
    overflow: hidden;
    visibility: hidden;
  }

  #tagline h2 {
    font-size: 3em;
  }

  #solutions .title {
    padding-top: 60px;
  }

  #solutions li {
    width: auto;
    float: none;
    margin: 30px 0 0 0;
  }
}

@media screen and (max-width: 599px) {
  body {
    -webkit-text-size-adjust: none;
  }

  #team .title {
    padding: 30px 0 40px;
  }

  #team .avatar span {
    width: 100px;
    height: 100px;
    background-size: 800px 100px;
  }

  #team #person-jl .avatar span {
    background-position: -0px 0;
  }

  #team #person-ao .avatar span {
    background-position: -100px 0;
  }

  #team #person-gp .avatar span {
    background-position: -200px 0;
  }

  #team #person-ir .avatar span {
    background-position: -300px 0;
  }

  #team #person-jr .avatar span {
    background-position: -400px 0;
  }

  #team #person-ps .avatar span {
    background-position: -500px 0;
  }

  #team #person-at .avatar span {
    background-position: -600px 0;
  }

  #team #person-dz .avatar span {
    background-position: -700px 0;
  }

  #team li {
    float: none;
    width: auto;
    margin-bottom: 30px;
  }

  #team li .role strong {
    padding-top: 10px;
  }
}

@media screen and (max-width: 499px) {
  .title {
    font-size: 1.75em;
  }

  #header {
    padding: 30px 0 40px;
  }

  #lang .dropdown {
    width: 80px;
  }

  #lang .dropdown li {
    text-indent: -9999em;
  }

  #intro h2 {
    font-size: 2.125em;
  }

  #intro h3 {
    font-size: 1.5em;
    padding-bottom: 40px;
  }

  #features li {
    float: none;
    width: auto;
  }

  #values .title {
    font-size: 1.5em;
  }

  #values li {
    float: none;
    height: auto;
    width: auto;
    border-bottom: 1px solid #333;
  }

  #values li h4,#values li p {
    padding: 0 7.5%;
  }

  #values li h4 {
    font-size: 1.5em;
    padding-top: 30px;
    background: none;
  }

  #values li p {
    padding-bottom: 30px;
  }

  #objectives {
    height: 220px;
  }

  #objectives li {
    width: 100%;
  }

  #objectives li h3 {
    font-size: 1.75em;
  }

  #objectives li h3 span {
    padding-right: 0;
  }

  #solutions .title {
    padding-top: 40px;
  }

  #team .avatar ul {
    height: auto;
  }

  #investors li {
    display: block;
    width: auto;
  }

  #signup form {
    width: auto;
    margin: 0 7.5%;
  }

  #footer {
    padding: 30px 7.5%;
  }

  #footer ul,#footer li {
    display: block;
  }

  #footer li {
    margin-top: 15px;
  }

  #footer li a {
    display: block;
    padding: 10px 0;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #1a1a1a;
  }

  #footer li a:hover,#footer li a:active {
    background: #333;
  }

  #footer span {
    display: none;
  }
}